<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
            <directory>src</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV"           value="test"/>
        <env name="APP_API_BASE_URL"  value="https://gwy-api-tst.appypay.co.ao/"/>
        <env name="APP_AUTH_BASE_URL" value="https://login.microsoftonline.com/appypaydev.onmicrosoft.com/oauth2"/>
        <env name="APP_CLIENT_ID"     value=""/>
        <env name="APP_CLIENT_SECRET" value=""/>
        <env name="APP_RESOURCE"      value=""/>
        <env name="APP_GPO_METHOD"    value=""/>
        <env name="APP_REF_METHOD"    value=""/>
    </php>
</phpunit>
